 
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
 @keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }

    /* Moves only half to make it seamless */
}

.animate-marquee {
    animation: marquee 15s linear infinite;
} 
.text-4xl,
.text-base {
    transition: all 0.3s ease-in-out;
}